.carousel {
  height: 100%;
  width: 90%;
  position: relative;
  .slider {
    width: 100% !important;
    .slide {
      width: 100% !important;
    }
  }

  .btn {
    position: absolute;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: 1px solid #000;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.767);
    transition: 0.2s all;

    &:hover {
      background-color: rgba(153, 153, 153, 0.333);
    }
  }
}
